
<h2>Admin Page</h2>


@section Head {
    <meta name="description" content="Admin Page Meta Description" />
    <style>
        body {
            background-color: #f8f9;
        }
    </style>
}

@await Component.InvokeAsync("TopProducts");
@await Component.InvokeAsync("TopProducts");




