@model StudentPortal.Models.Student

<h1>Create Studnt</h1>
<hr/>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    
    @* <div class="mb-3">
        <label asp-for="PassingYear" class="control-label"></label>
        <input asp-for="PassingYear" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RePassword" class="control-label"></label>
        <input asp-for="RePassword" class="form-control" />
        <span asp-validation-for="RePassword" class="text-danger"></span>
    </div> *@


    <button type="submit" class="btn btn-primary">Save</button>
</form>

